<div class="questions-form box gray rounded">
    <form class="form">
        <div class="col">
            <h2>
                Остались<br /> вопросы? <br />
                создайте тикет
            </h2>
            <p class="descr">Мы ответим в течении 10 минут в телеграм</p>
            <button class="button primary" type="submit">Отправить</button>
        </div>
        <div class="col">
            <div class="field">
                <input type="text" placeholder="Тема" class="form-control" id="title" value="" />
            </div>
            <div class="field">
                <textarea placeholder="Текст" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
