<header class="header">
    //= logo.html

    <div class="nav-mobile">
        <i class="icon icon-menu-mobile" id="open-menu"></i>
        <a href="/" class="lang">Ru <i class="icon icon-menu-arrow"></i></a>
    </div>

    <nav class="nav">
        <ul class="menu">
            <li class="menu-item active"><a href="faq.html">ЧаВо</a></li>
            <li class="menu-item"><a href="help.html">Инструкции</a></li>
        </ul>
        <i class="icon icon-close" id="close-menu"></i>
        <a href="/" class="lang">Ru <i class="icon icon-menu-arrow"></i></a>
    </nav>
</header>
