<div>
    <div class="subtitle container-sm">
        <h1>Инструкция<br /> по установке</h1>
    </div>
    <div class="container-sm">
        <nav>
            <ul class="nav nav-tabs help-nav" id="faq-tabs">
                <li class="nav-item active" data-tab-target="macos">
                    <i class="icon icon-macos"></i>
                    <span>Macos</span>
                </li>
                <li class="nav-item" data-tab-target="ios">
                    <i class="icon icon-ios"></i>
                    <span>IOS</span>
                </li>
                <li class="nav-item" data-tab-target="win">
                    <i class="icon icon-win"></i>
                    <span>Windows</span>
                </li>
                <li class="nav-item" data-tab-target="winphone">
                    <i class="icon icon-win"></i>
                    <span>Windows <br />Phone</span>
                </li>
                <li class="nav-item" data-tab-target="android">
                    <i class="icon icon-android"></i>
                    <span>Android</span>
                </li>
                <li class="nav-item" data-tab-target="linux">
                    <i class="icon icon-linux"></i>
                    <span>Linux</span>
                </li>
            </ul>
        </nav>
    </div>

    <div class="promo container-sm">
            <div class="cols">
                <div class="col">
                    <div class="box primary rounded">
                        Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                        К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                    </div>
                </div>
                <div class="col">
                    <p>Все правки должны оставаться закреплёнными за учётной записью. Вы можете запросить скрыть всю личную информацию, в том числе убрать имя учётной записи, но конструктивный вклад с неё останется (каждой правкой вы принимали лицензионное соглашение). Можно удалить всю информацию о себе, но нельзя удалить учётную запись. Можно запросить у ревизоров убрать правки,
                        в которых есть какая-либо наводка на вашу реальную личность,
                        можно изменить
                    </p>
                </div>
            </div>
    </div>

    <div class="tabs-content container-sm">
        <div class="tab-pane" id="macos" role="tabpanel">
            <h3>Установка<br /> на Macos</h3>
            <ul class="help-list ordered-list">
                <li class="help-list-item">
                    <div class="cols image-cols">
                        <div class="col">
                            <p>
                                Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                            </p>
                        </div>
                        <div class="col">
                            <div class="lightbox">
                                <i class="icon icon-zoom" data-bs-toggle="modal" data-bs-src="img/content/pic3.png" data-bs-target="#lightbox"></i>
                                <img class="content-img" src="img/content/pic3.png" width="100%" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="help-list-item">
                    <div class="cols">
                        <div class="col">
                            <p>
                                Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                            </p>
                        </div>
                        <div class="col">
                            <p>Все правки должны оставаться закреплёнными за учётной записью. Вы можете запросить скрыть всю личную информацию, в том числе убрать имя учётной записи, но конструктивный вклад с неё останется (каждой правкой вы принимали лицензионное соглашение). Можно удалить всю информацию о себе, но нельзя удалить учётную запись. Можно запросить у ревизоров убрать правки,
                                в которых есть какая-либо наводка на вашу реальную личность,
                                можно изменить
                            </p>
                        </div>
                    </div>
                </li>

                <li class="help-list-item">
                    <div class="cols image-cols">
                        <div class="col">
                            <p> Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                                Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                            </p>
                            <ul>
                                <li>вклда с нее</li>
                                <li>коажется каждый</li>
                                <li>ккт фвыа дло фмшлфыва  фывафыв</li>
                                <li>кфывав</li>
                            </ul>
                        </div>
                        <div class="col">
                            <div class="lightbox">
                                <i class="icon icon-zoom" data-bs-toggle="modal" data-bs-src="img/content/pci4.png" data-bs-target="#lightbox"></i>
                                <img class="content-img" src="img/content/pci4.png" width="100%" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="help-list-item">
                    <div class="cols">
                        <div class="col">
                            <p>
                                Все правки должны оставаться закреплёнными за учётной записью. Вы можете запросить
                                скрыть всю личную информацию, в том числе убрать имя учётной записи, но конструктивный вклад с неё
                                останется (каждой правкой вы принимали лицензионное
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                Все правки должны оставаться закреплёнными за учётной записью.
                                Вы можете запросить скрыть всю личную информацию,
                                в том числе убрать имя учётной записи, но конструктивный вклад с неё
                            </p>
                        </div>
                    </div>

                    <div class="cols lightbox">
                        <i class="icon icon-zoom" data-bs-toggle="modal" data-bs-src="img/content/pic2.png" data-bs-target="#lightbox"></i>
                        <img class="content-img" src="img/content/pic2.png" width="100%" />
                    </div>

                </li>
            </ul>
        </div>

        <div class="tab-pane fade" id="ios" role="tabpanel">
                <h3>Установка<br /> на IOS</h3>
                <ul class="help-list ordered-list">
                    <li class="help-list-item">
                        <div class="cols">
                            <div class="col">
                                <p>
                                    Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                    К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                                </p>
                            </div>
                            <div class="col">
                                <p>Все правки должны оставаться закреплёнными за учётной записью. Вы можете запросить скрыть всю личную информацию, в том числе убрать имя учётной записи, но конструктивный вклад с неё останется (каждой правкой вы принимали лицензионное соглашение). Можно удалить всю информацию о себе, но нельзя удалить учётную запись. Можно запросить у ревизоров убрать правки,
                                    в которых есть какая-либо наводка на вашу реальную личность,
                                    можно изменить
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="help-list-item">
                        <div class="cols">
                            <div class="col">
                                <p>
                                    Я являюсь журналистом и хотел бы провести интервью о бизнесе Unilever в России.
                                    К кому я могу обратиться? о бизнесе Unilever в России. К кому Unilever в России. К кому
                                </p>
                            </div>
                            <div class="col">
                                <p>Все правки должны оставаться закреплёнными за учётной записью. Вы можете запросить скрыть всю личную информацию, в том числе убрать имя учётной записи, но конструктивный вклад с неё останется (каждой правкой вы принимали лицензионное соглашение). Можно удалить всю информацию о себе, но нельзя удалить учётную запись. Можно запросить у ревизоров убрать правки,
                                    в которых есть какая-либо наводка на вашу реальную личность,
                                    можно изменить
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
        </div>

        <div class="tab-pane fade" id="win" role="tabpanel">
            <h3>Установка<br /> на Windows</h3>
        </div>
        <div class="tab-pane fade" id="winphone" role="tabpanel">
            <h3>Установка<br /> на Windows Phone</h3>
        </div>
        <div class="tab-pane fade" id="android" role="tabpanel">
            <h3>Установка<br /> на Android</h3>
        </div>
        <div class="tab-pane fade" id="linux" role="tabpanel">
            <h3>Установка<br /> на Linux</h3>
        </div>
    </div>

    //= form.html
    //= modal.html
</div>
