<main>
    <section class="hero">
        <h1>Professional <br/> VPN</h1>
        <ol class="promo-list">
            <li class="list-item">Отличная скорость</li>
            <li class="list-item">Без установки приложений</li>
            <li class="list-item">2 уровня шифрования</li>
        </ol>
    </section>

    <section class="safety">
        <div class="wrap">
            <div class="box"></div>
            <div class="content">
                <h2>Абсолютно<br /> безопасно</h2>

                <div class="map hidden-sm">
                    <span class="note">Сервис работает под юрисдикцией Сейшельских Островов</span>
                </div>

                <div class="cols">
                        <div class="col">
                            <ul class="icons-list">
                                <li class="list-item">
                                    <i class="icon icon-in"></i>
                                    <span class="text">Точка входа в Чехии</span>
                                </li>
                                <li class="list-item">
                                    <i class="icon icon-crypto"></i>
                                    <span class="text">Оплата только криптой </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="icons-list">
                                <li class="list-item">
                                    <i class="icon icon-out"></i>
                                    <span class="text">Точка выхода в Нидерландах</span>
                                </li>
                                <li class="list-item">
                                    <i class="icon icon-tg"></i>
                                    <span class="text">Коннект через телеграм бота</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                <a href="/" class="button primary hidden-lg">Подробнее</a>
            </div>
        </div>
        <div class="map visible-sm">
            <span class="note">Сервис работает под юрисдикцией Сейшельских Островов</span>
        </div>
        <a href="/" class="button primary visible-lg">Подробнее</a>
    </section>

    <section class="prices">
        <div class="subtitle">
            <h2>Тарифные <br /> планы</h2>

            <ul class="prices-description-list hidden-md">
                <li class="list-item">Для покупки вас переадресует в ТГ-бота</li>
                <li class="list-item">Выберите наиболее удобный вид тарификации</li>
            </ul>
        </div>

        <div class="prices-list">
            <div class="prices-list-item first">
                <div class="top">
                    <h2 class="title">1 month</h2>
                    <span class="descr">Оплата только криптой</span>
                </div>
                <div class="bottom">
                    <div class="price">5 &euro;</div>
                    <div class="profit">экономия 0 &euro;</div>
                    <a href="/" class="button white sm">Купить</a>
                </div>
            </div>
            <div class="prices-list-item second">
                <div class="top">
                    <h2 class="title">3 month</h2>
                    <span class="descr">Оплата только криптой</span>
                </div>
                <div class="bottom">
                    <div class="price">10 &euro;</div>
                    <div class="profit">экономия 4 &euro; / месяц</div>
                    <a href="/" class="button white sm">Купить</a>
                </div>
            </div>
            <div class="prices-list-item third">
                <div class="top">
                    <h2 class="title">12 month</h2>
                    <span class="descr">Оплата только криптой</span>
                </div>
                <div class="bottom">
                    <div class="price">36 &euro;</div>
                    <div class="profit">экономия 5 &euro; / месяц</div>
                    <a href="/" class="button white sm">Купить</a>
                </div>
            </div>
        </div>
        <ul class="prices-description-list visible-md">
            <li class="list-item">Для покупки вас переадресует в ТГ-бота</li>
            <li class="list-item">Выберите наиболее удобный вид тарификации</li>
        </ul>
    </section>

    <section class="encryption">
        <h2>2 уровня <br /> шифрования </h2>
        <div class="cols">
            <div class="col">
                <h6 class="title">Золотой стандарт</h6>
                <div class="speed">
                    <span class="speed-number">1024</span>
                    <span class="speed-units">bit</span>
                </div>
                <img class="img" src="img/speed1.png" width="420" height="378" />
                <span class="arrows"></span>
            </div>
            <div class="col">
                <h6 class="title">Для крипто-параноиков</h6>
                <div class="speed">
                    <span class="speed-number">2048</span>
                    <span class="speed-units">bit</span>
                </div>
                <img class="img" src="img/speed2.png" width="272" height="245" />
            </div>
        </div>
        <span class="note">Скоростью придется пожертвовать</span>
        <span class="eye"></span>
    </section>

    <section class="hero2">
        <div class="img"></div>
        <div class="cols">
            <div class="col">
                <div>
                    <h4>Доступен клиент для доступа через DNS туннели</h4>
                    <p class="descr">Чем выше уровень шифрования, тем ниже сккорость</p>
                </div>
                <a href="/" class="button primary">Подробнее</a>
            </div>
            <div class="col">
                <div>
                    <h4>Доступна функция блокировки рекалмы</h4>
                    <p class="descr">Чем выше уровень шифрования, тем ниже сккорость
                        еще немного текста, ведь они все равно не буду такие как на макете</p>
                </div>
                <a href="/" class="button primary">Подробнее</a>
            </div>
        </div>
    </section>

    <section class="devices">
        <h2>Поддержка<br />
            до 5 устройств<br />
            по 1-й подписке
        </h2>
        <div class="col">
            <p class="descr">Вы можете подключить до 5 устройств по своей подписке включая Smart-Tv</p>
            <a href="/" class="button primary">Подключить</a>
        </div>
    </section>
</main>
