.container {
  margin: 0 auto;
  position: relative;
  width: $page_max_width;

  @include screen-lg() {
    padding: 0 55px;
    min-width: $screen_xs;
    overflow: hidden;
    width: auto;
  }

  @include screen-sm() {
    padding: 0 8px;
  }
}

.container-sm {
  margin: 0 auto;
  position: relative;
  width: $page_sm_width;

  @include screen-lg() {
    min-width: $screen_xs;
    width: auto;
  }
}


// header
.header {
  justify-content: space-between;
  display: flex;
  padding: 30px 0 30px;
}

.nav {
  display: flex;
  margin-top: 12px;
  align-items: baseline;
}

.menu {
  display: flex;
  margin-top: 0;

  .menu-item {
    list-style: none;
    margin: 0 38px 0 0;

    a {
      display: inline-block;
      color: $font_color_base;
      font-size: $font_size_h5;
      font-weight: 600;
      text-decoration: none;
      text-transform: capitalize;
      transition: color 0.2s ease;

      &:after {
        background: $primary;
        border-radius: 5px;
        display: block;
        content: "";
        height: 5px;
        margin-top: 9px;
      }
    }

    &:hover a,
    &.active a {
      color: $primary;
    }
  }
}

.lang {
  color: $font_color_base;
  font-size: $font_size_lg;
  margin-right: 13px;
  text-decoration: none;
}

.logo {
  display: block;
  text-decoration: none;

  .logo-img {
    display: block;
  }

  .logo-text {
    color: $font_color_base;
    display: block;
    letter-spacing: 0.225em;
    margin-top: 24px;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.footer {
  background: $gray-4;
  border-radius: 60px 60px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 35px 60px;
  position: relative;
  width: 100%;

  .copyright {
    font-size: 12px;
    margin-top: 10px;
  }

  .logo {
    display: inline-flex;
  }

  .logo-text {
    margin-top: 10px;
    margin-left: 25px;
  }

  @include screen-md() {
    padding: 35px 53px;

    .copyright {
      color: $primary;
      top: 60px;
      position: absolute;
      right: 35px;
    }
  }

  @include screen-sm() {
    padding: 32px 42px;
    display: block;

    .logo {
      display: block;
      margin-bottom: 60px;
    }
    .logo-text {
      margin-top: 24px;
      margin-left: 0;
    }
    .copyright {
      position: static;
      text-align: right;
    }
  }
}
