.main {
  background: url('../img/desktop/home-bg.png');
  background-size: 1650px auto;
  background-repeat: no-repeat;
  background-position: center -70px;

  h1 {
    font-size: $font_size_h1;
  }
}


.devices {
  border-radius: 60px;
  background: $gray-2;
  height: 495px;
  margin: 230px 0;
  padding: 74px 0 55px 120px;
  position: relative;

  .col {
    position: relative;
    width: 230px;
    z-index: 2;
  }

  h2 {
    position: relative;
    z-index: 2;
  }

  .descr {
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.1;
  }

  .button {
    width: 100%;
  }

    &:before {
      background: url(../img/desktop/devices.png) no-repeat;
      background-position: 0 0;
      background-size: contain;
      display: block;
      content: '';
      position: absolute;
      right: 50px;
      bottom: 0;
      width: 1045px;
      height: 590px;
    }

  @include screen-lg() {
    padding-left: 55px;

    &:before {
      background: url(../img/tablet/devices.png) no-repeat;
      background-position: 0 0;
      content: '';
      background-size: contain;
      display: block;
      position: absolute;
      right: 20px;
      bottom: 0;
      height: 524px;
      width: 600px;
    }
  }

  @include screen-md() {
    min-height: 725px;
    padding: 53px 48px;

    &:before {
      right: -40px;
      height: 666px;
      width: 760px;
    }

    .col {
      display: flex;
      flex-direction: column;
      min-height: 450px;
      justify-content: space-between;
    }
  }

  @include screen-sm() {
    background-image: url(../img/tablet/devices.png);
    background-repeat: no-repeat;
    background-position: center 62%;
    background-size: 350px auto;
    min-height: 630px;
    height: auto;
    padding: 42px;
    margin: 120px 0;

    &:before {
     display: none;
    }

    .col {
      display: flex;
      flex-direction: column;
      min-height: auto;
      justify-content: space-between;
      width: 100%;
    }

    .descr {
      margin-top: 20px;
      margin-bottom: 360px;
    }
  }
}

.hero2 {
  position: relative;

  h4 {
    margin-bottom: 65px;
  }

  .descr {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.1;
  }

  .button {
    width: 225px;

    @include screen-sm() {
      width: 100%;
    }
  }

  .cols {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include screen-sm() {
      margin: 0 41px;
      display: block;
    }
  }

  .col {
    min-height: 400px;
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include screen-container-sm() {
      margin: 0 !important;
      padding: 0 35px;
      width: 48%;
    }

    @include screen-sm() {
      min-height: auto;
      align-items: center;
      margin-left: 0;
      padding: 0 0 55px;
      width: 100%;

      .button {
        width: 100%;
      }
    }
  }

  .img {
    border-radius: 120px;
    background-color: #e5e5e5;
    bottom: 0;
    left: 50%;
    width: 40%;
    position: absolute;
    height: 335px;
    margin-left: -20%;

    &:before {
      background: url(../img/dns.png) no-repeat;
      background-size: 389px auto;
      background-position: top center;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 490px;
      width: 400px;
      margin-left: -200px;
    }

    @include screen-lg() {
      &:before {
        background-size: 320px auto;
        height: 375px;
        width: 405px;
        margin-left: -180px;
      }
    }
  }
}

.encryption {
  background: $gray-2;
  border-radius: 60px;
  margin-bottom: 150px;
  padding: 105px 0 105px 130px;
  position: relative;
  width: 1380px;

  h2 {
    margin-bottom: 100px;
  }

  .cols {
    position: relative;

    .col {
      width: 32%;

      &:nth-child(1) {
        .img {
          display: block;
          margin: 65px 0 0 50px;
        }
      }
      &:nth-child(2) {
        .img {
          display: block;
          margin: 90px 0 0 -120px;
        }
      }
    }

    @include screen-sm() {
      display: block;
    }
  }

  .speed-number {
    color: $primary;
    font-size: 150px;
    font-weight: 800;
    display: block;
    line-height: 1;
  }
  .speed-units {
    font-size: 40px;
    font-weight: 800;
    display: block;
  }

  .note {
    color: $primary;
    transform: rotate(-90deg);
    right: 35px;
    bottom: 350px;
    position: absolute;
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  .arrows {
    background: url(../img/enc-arrows.png) no-repeat;
    background-size: 327px auto;
    height: 92px;
    position: absolute;
    top: 115px;
    left: 425px;
    width: 327px;
  }

  .eye {
    background: url(../img/eye2.png) no-repeat;
    height: 122px;
    width: 208px;
    background-size: contain;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -35px;
  }

  @include screen-md() {
    h2 {
      margin-bottom: 100px;
    }
  }

  @include screen-sm() {
    padding: 37px 0 37px 41px;
    .speed-number {
      font-size: 80px;
    }
    .eye {
      bottom: -150px;
      height: 97px;
      width: 139px;
    }
    .note {
      transform: none;
      max-width: 220px;
      right: auto;
      left: 43px;
      bottom: 53px;
      top: auto;
      width: 140px;
    }
    .cols {
      display: block;
    }
    h2 {
      margin-bottom: 60px;
    }
  }
}

.prices {
  @extend .container-sm;
  margin-bottom: 230px;

  .subtitle {
    display: flex;
    align-items: flex-start;
  }

  .prices-description-list  {
    @extend .unordered-list;
    display: flex;
    margin-top: 10px;
    margin-right: -110px;

    li {
      max-width: 235px;
      margin-left: 40px;
    }
  }

  .prices-list {
    display: flex;
    margin-right: -25px;

    .prices-list-item {
      border-radius: 60px;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 38px 53px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 600px;
      width: 350px;

      .title {
        margin-bottom: 15px;
      }

      .descr {
        font-size: $font_size_sm;
      }

      .price {
        font-size: 70px;
        font-weight: 800;
      }

      .profit {
        font-size: $font_size_base;
        font-weight: 700;
        margin: 5px 0 25px;
      }

      .button {
        display: block;
      }

      &.first {
        background: $gray-2 url(../img/tarif1.png) no-repeat right 145px;
        background-size: auto 215px;
      }

      &.second {
        background: $primary url(../img/tarif2.png) no-repeat right 135px;
        background-size: auto 230px;

        .title, .descr, .price, .profit {
          color: $white;
        }
      }

      &.third {
        background: $black url(../img/tarif3.png) no-repeat right 135px;
        background-size: auto 275px;

        .title, .descr, .price, .profit {
          color: $white;
        }
      }
    }
  }

  @include screen-container-sm() {
    margin-bottom: 160px;

    .prices-list {
      flex-wrap: wrap;
      margin-right: 0;

      .prices-list-item {
        flex-shrink: 0;
        flex-grow: 1;

        &.third {
          background-position: right 36px;
          height: 350px;
          padding-right: calc(50% + 53px);
          width: 100%;
        }
      }
    }
  }


  @include screen-md() {
    .prices-list {
      display: block;

      .prices-list-item {
        height: 325px;
        padding: 35px 41px;
        width: 100%;

        &.first {
          background: $gray-2 url(../img/tarif1.png) no-repeat right 110px;
          background-size: auto 168px;
        }

        &.second {
          background: $primary url(../img/tarif2.png) no-repeat right 77px;
          background-size: auto 187px;
        }

        &.third {
          background: $black url(../img/tarif3.png) no-repeat right 77px;
          background-size: auto 197px;
          padding-right: 41px;
        }
      }
    }
  }

  @include screen-md() {
    margin-bottom: 30px;

    .prices-list {
      .prices-list-item {
        padding: 35px 41px;
      }
    }

    .prices-description-list {
      margin: 0 41px 70px;

      li {
        font-size: 14px;
        margin: 35px 0;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.hero {
  background: url(../img/desktop/home-bg1.png) no-repeat;
  background-position: 72px bottom;
  background-size: 563px auto;
  padding-top: 350px;
  padding-left: 54%;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;

  h1 {
    margin-bottom: 80px;
    text-transform: capitalize;
  }

  .promo-list {
    @extend .ordered-list;
    display: flex;

    .list-item {
      flex-grow: 0;
      flex-shrink: 0;
      width: 160px;

      & + .list-item {
        margin-left: 55px;
      }

      &:before {
        margin-bottom: 30px;
      }
    }
  }
}

.safety {
  margin-bottom: 200px;
  position: relative;

  .wrap {
    position: relative;
  }

  .box {
    height: 595px;
    top: -100px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .content {
    padding: 140px 50px 0 122px;
    position: relative;
  }

  .cols {
    display: flex;
    justify-content: space-between;

    .col {
      width: 19%;
    }
  }

  .button {
    margin-top: -30px;
    width: 215px;
  }

  .map {
    background: url(../img/world.png) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 752px;
    margin-left: -300px;
    width: 601px;

    .note {
      color: $white;
      position: absolute;
      bottom: 50px;
      right: 50px;
      width: 40%;
      font-size: $font_size_lg;
    }
  }

  .icons-list {
    margin-top: 105px;
    margin-left: 0;
    .list-item {
      list-style: none;
      margin-bottom: 105px;
    }
    .text {
      font-size: $font_size_lg;
    }
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-bottom: 20px;
  }

  .icon-in {
    background-image: url(../img/icons/in.png);
    width: 65px;
    height: 53px;
  }

  .icon-out {
    background-image: url(../img/icons/out.png);
    width: 63px;
    height:  51px;
  }

  .icon-crypto {
    background-image: url(../img/icons/crypto.png);
    width: 63px;
    height:  52px;
  }

  .icon-tg {
    background-image: url(../img/icons/tg.png);
    width: 66px;
    height: 52px;
  }
}


@include screen-lg() {
  .main {
    background: url('../img/tablet/home-bg.png');
    background-size: 881px auto;
    background-repeat: no-repeat;
    background-position: -10px -50px;
  }

  .hero {
    background: none;
    padding-left: 80px;
    padding-bottom: 75px;

    h1 {
      font-size: 55px;
      margin-bottom: 85px;
      text-transform: capitalize;
      padding-left: 325px;
      padding-top: 70px;
    }
  }

  .safety {
    margin-bottom: 160px;

    .box {
      border-radius: 0;
      top: 0;
      right: -500px;
      left: auto;
      height: 100%;
    }

    .content {
      border-radius: 60px;
      background: $gray-2;
      padding: 50px 50px 0 60px;
    }

    .cols {
      display: block;

      .col {
        width: 100%;
        .icons-list {
          margin-top: 150px;
          margin-left: 0;
          .list-item {
            width: 200px;
            margin-bottom: 65px;
          }
        }

        &:nth-child(2) {
          .icons-list {
            display: flex;
            margin-top: 90px;

            .list-item {
              margin-right: 90px;
            }
          }
        }
      }
    }

    .map {
      left: 245px;
      right: auto;
      margin: 0;
      top: 45px;
      height: 665px;
      width: 500px;

      .note {
        color: #fff;
        position: absolute;
        bottom: 75px;
        right: 40px;
        width: 50%;
        font-size: 24px;
      }
    }

    .button {
      margin-top: 20px;
      margin-left: 53px;
    }
  }

  .prices {
    .prices-description-list {
      margin-right: 0;
    }
  }

  .encryption {
    padding: 53px 0 80px 43px;

    .speed-number {
      font-size: 100px;
    }
    .speed-units {
      font-size: 30px;
    }

    .note {
      transform: none;
      right: auto;
      left: 520px;
      bottom: 90px;
      max-width: 220px;
    }

    .eye {
      bottom: -90px;
      width: 208px;
      height: 122px;
      left: 405px;
    }

    .arrows {
      background-size: 260px auto;
      height: 92px;
      position: absolute;
      top: 70px;
      left: 265px;
      width: 200px;
    }

    .cols {
      justify-content: flex-start;

      .col {
        width: 36%;
      }

      .col:nth-child(1) {
        .img {
          margin: 60px 0 0 0;
          width: 370px;
          height: auto;
        }
      }

      .col:nth-child(2) .img {
        margin: 60px 0 0 -50px;
      }
    }
  }
}


@include screen-container-sm() {
  .hero {
    h1 {
      margin-bottom: 85px;
    }
  }
  .hero2 {
    padding-top: 35px;

    .img {
      border-radius: 40px;
      height: 400px;
      position: relative;
      margin-bottom: 70px;
      margin-left: 0;
      left: 0;
      width: 100%;

      &:before {
        background-size: 380px auto;
        height: 475px;
        width: 380px;
        margin-left: -200px;
      }
      }
    }
  .devices {
    padding-left: 55px;
    padding-top: 50px;
    height: 725px;
    margin-bottom: 150px;

    &:before {
      background-size: contain;
      display: block;
      position: absolute;
      right: -50px;
      bottom: 0;
      height: 650px;
      width: 750px
    }

    .descr {
      min-height: 320px;
    }
  }
}

@include screen-md() {
  .prices {
    .subtitle {
      padding-left: 50px;
    }
  }

  .cols {
    display: flex;
  }
}


@include screen-sm() {
  .main {
    background: url(../img/mobile/home-bg.png);
    background-size: 650px auto;
    background-repeat: no-repeat;
    background-position: -35px 140px;
  }

  .hero {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 340px;
    padding-bottom: 30px;

    h1 {
      font-size: 45px;
      padding-left: 0;
      margin-bottom: 120px;
    }

    .promo-list {
      display: block;

      .list-item {
        margin-left: 0 !important;
        width: 100%;
      }
    }
  }

  .safety {
    margin-bottom: 100px;

    h2 {
      margin-bottom: 55px;
    }

    .content {
      padding-bottom: 155px;
    }

    .box {
      right: -200px;
    }

    .cols {
      .col {
        &:nth-child(2) {
          .icons-list {
            display: block;
            margin-top: 20px;
          }
        }

        .icons-list {
          margin-top: 0;

          .list-item {
            align-items: center;
            display: flex;
            margin-bottom: 53px;
            width: auto;

            .icon {
              flex-grow: 0;
              flex-shrink: 0;
              margin: 0 30px 0 0;
            }

            .text {
              font-size: 20px;
            }
          }
        }
      }
    }

    .map {
      background-image: url(../img/mobile/world.png);
      position: relative;
      margin: -175px auto 0;
      height: 420px;
      left: 0;
      right: 0;
      width: 380px;
      top: 0;

      .note {
        bottom: 45px;
        font-size: $font_size_base;
      }
    }

    .button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
      width: 305px;
    }

  }

  .prices {
    .subtitle {
      padding-left: 0;
    }

    .prices-description-list {
      margin: 0 49px 60px 49px;
    }

    .prices-list {
      .prices-list-item {
        height: 355px;

        .price {
          font-size: 40px;
        }
      }
    }
  }

  .devices {
    background-image: url(../img/mobile/devices.png);
    background-size: 380px auto;
    background-position: 85% 203px;
    margin-bottom: 120px;
    margin-top: 50px;
    height: 690px;

    &:before {
      display: none;
      background: none;
    }

    .descr {
      min-height: auto;
    }
  }

  .encryption {
    .title {
      font-size: 14px;
    }

    .eye {
      bottom: -145px;
      left: 230px;
      width: 135px;
      height: 85px;
    }

    .speed-number {
      font-size: 80px;
      margin-bottom: 15px;
    }

    .cols {
      .col {
        width: 100%;
      }

      .col:nth-child(1) {
        height: 305px;

        .img {
          width: 265px;
          height: auto;
          position: absolute;
          margin: 0;
          top: 80px;
          left: 130px;
        }

        .arrows {
          transform: rotate(90deg);
          left: -38px;
          top: 220px;
          background-size: 170px auto;
          height: 50px;
          position: absolute;
          width: 130px;
        }
      }

      .col:nth-child(2) {
        height: 215px;
        .img {
          width: 225px;
          height: auto;
          position: absolute;
          margin: 0;
          top: 80px;
          left: 165px;
        }
      }

      .note {
        left: 40px;
        bottom: 60px;
      }
    }

    .note {
      left: 40px;
      bottom: 60px;
      max-width: 220px;
    }
  }

  .hero2 {
    .img {
      height: 270px;

      &:before {
        background-size: 260px auto;
        height: 325px;
        width: 260px;
        margin-left: -130px;
      }
    }
  }
}
