.hidden {
  display: none;
  height: 0;
  width: 0;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.float-right {
  float: right;
  margin-left: 20px;
}

.content-img {
  border-radius: 20px;
}

.hidden-sm {
  @include screen-sm() {
    display: none !important;
  }
}

.visible-sm {
  display: none !important;
  @include screen-sm() {
    display: block !important;
  }
}


.hidden-md {
  @include screen-md() {
    display: none !important;
  }
}

.visible-md {
  display: none !important;

  @include screen-md() {
    display: block !important;
  }
}


.hidden-lg {
  @include screen-lg() {
    display: none !important;
  }
}

.visible-lg {
  display: none !important;

  @include screen-lg() {
    display: block !important;
  }
}
