// colors

$white:    #fff;

$gray-1:   #F1F0F0;
$gray-2:    #E5E5E5;
$gray-3:    #E5E2E2;
$gray-4:    #C4C4C4;
$gray-5:    #8E8E8E;
$black:    #000;

$red:     #FF0000;
$yellow:  #ffc107;
$green:   #198754;

$primary:       $red;
$secondary:     $gray-2;
$success:       $green;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-1;
$dark:          $gray-5;

/* fonts */
$font_family: 'Montserrat', sans-serif;

$font_size_sm: 16px;
$font_size_md: 18px;
$font_size_lg: 24px;

$font_color_base: $black;
$font_size_base: $font_size_md;
$font_weight_base: 500;

$font_size_h1: 70px;
$font_size_h1_inner_pages: 40px;
$font_size_h2: 35px;
$font_size_h3: 30px;
$font_size_h4: 24px;
$font_size_h5: 20px;
$font_size_h6: $font_size_base;

$line_height_base: 1.1;
$line_height_medium: 1.4;
$line_height_small: 1.2;

/* layout */
$page_max_width: 1285px;
$page_sm_width: 1060px;
$page_min_width: 320px;

$screen_xs: 320px;
$screen_sm: 640px;
$screen_md: 860px;
$screen_md: 860px;
$screen_lg: 1285px;
$screen_xl: 1440px;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 640px,
        lg: 860px,
        xl: 1140px,
        xxl: 1440px
);
// scss-docs-end grid-breakpoints

/* forms */
$field_background: $white;
$field_font_size: $font_size_md;
//$field_font_family: $font_family_base;

/* buttons */
$button_font_size: $font_size_h4;
//$button_color: $primary;

// border radius
$border_radius_base: 60px;

// padding
$padding_base: 24px;

//

$button_height_base: 77px;

// transition
// scss-docs-end caret-variables
$enable-transitions: true !default;
$enable-reduced-motion:       true !default;
$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
// scss-docs-start collapse-transition
$transition-collapse:         height .35s ease !default;
$transition-collapse-width:   width .35s ease !default;
// scss-docs-end collapse-transition


// modal
$zindex-modal: 1200;
$modal-inner-padding:               20px;
$modal-footer-margin-between:       0;
$modal-dialog-margin:               20px;
$modal-dialog-margin-y-sm-up:       40px;
$modal-title-line-height:           $line_height_base;
$modal-content-color:               null;
$modal-content-bg:                  $white;
$modal-content-border-color:        rgba($black, .2);
$modal-content-border-width:        0;
$modal-content-border-radius:       35px;
$modal-content-inner-border-radius: 0;
$modal-content-box-shadow-xs:       none;
$modal-content-box-shadow-sm-up:    none;
$modal-backdrop-bg:                 $black ;
$modal-backdrop-opacity:            .5;
$modal-header-border-color:         $black;
$modal-footer-border-color:         $black;
$modal-header-border-width:         $black;
$modal-footer-border-width:         $black;
$modal-header-padding-y:            0;
$modal-header-padding-x:            0;
$modal-header-padding:              0; // Keep this for backwards compatibility

$modal-sm:                          300px;
$modal-md:                          500px;
$modal-lg:                          800px;
$modal-xl:                          1140px;

$modal-fade-transform:              translate(0, -50px);
$modal-show-transform:              none;
$modal-transition:                  transform .3s ease-out;
$modal-scale-transform:             scale(1.02);


  // scss-docs-start zindex-stack
$zindex-dropdown:                   1000 ;
$zindex-sticky:                     1020 ;
$zindex-fixed:                      1030 ;
$zindex-offcanvas-backdrop:         1040 ;
$zindex-offcanvas:                  1045 ;
$zindex-modal-backdrop:             1050 ;
$zindex-modal:                      1055 ;
$zindex-popover:                    1070 ;
$zindex-tooltip:                    1080 ;
// scss-docs-end zindex-stack

$enable-rounded:              true ;
$enable-shadows:              false ;
